!!!

html
	head
		script(src='http://www.google.com/jsapi', type='text/javascript')
		script
			google.load("jquery", "1.6.0");
		script(src='sencha/jqtouch/jqtouch.js', type='application/x-javascript')
		script(src='js/master.js')
		style(type="text/css", media="screen")
			@import "sencha/jqtouch/jqtouch.css";
			@import "sencha/themes/apple/theme.css";
	body
		div#jqt
			div#page1
				div.toolbar
					a(href="#").back Home
					a(href="#page2").button.rightButton.flip Register
					h1 Pulse
				h2.title Login
				form
					ul.form
						li
							div
								label(for='email') email
								input#email(name='email', type='text')
						li
							div
								label(for='password') password
								input#password(name='password', type='text')
					button(style='width:100%')#login.whiteButton Login
			div#page2
				div.toolbar
					a(href="#").back Home
				h1 Pulse
				h2.title Register
				form
					ul.form
						li
							div
								label(for='email') email
								input#email(name='email', type='text')
						li
							div
								label(for='password') password
								input#email(name='password', type='text')
						li
							div
								label(for='repass') again
								input#email(name='repass', type='text')
					button(style='width:100%')#login.whiteButton Login
				
			!= body